.profile__head {
  @apply rounded-lg bg-white;
  box-shadow:
    0px 1px 3px 0px rgba(0, 0, 0, 0.1),
    0px 1px 2px -1px rgba(0, 0, 0, 0.1);
}

.profile__cover {
  @apply h-64 w-full overflow-hidden rounded-lg;
}

.profile__cover-placeholder {
  @apply flex h-full w-full items-center justify-center bg-slate-100 text-2xl uppercase text-slate-500;
}

.profile__info {
  @apply relative pb-4 pl-4 pt-2;
}

.profile__info-data {
  @apply flex flex-col;

  /* 14px (отступ слева от иконки) + 176px (ширина авы) */
  margin-left: 190px;
}

.profile__avatar {
  @apply h-44 w-44 rounded-full object-cover;
}

.profile__avatar-wrapper {
  @apply absolute bottom-3.5 left-3.5 rounded-full border-4 border-solid border-white;
}

.profile__name {
  @apply text-left text-2xl font-semibold text-gray-900;
}

.profile__meta {
  @apply mb-4 text-sm font-medium text-gray-600;
}
