@layer components {
  /* inputs */
  .input {
    @apply h-10 w-full rounded-lg border border-blue-gray-100 px-4 py-3;
  }

  .input--invalid {
    @apply border-red-700;
  }

  .input--inner-icon-right {
    @apply pr-10;
  }

  .input__inner-icon-right {
    @apply absolute bottom-1/2 right-3 h-5 w-5 translate-y-1/2;
  }

  .input__inner-icon-right > svg {
    @apply h-full w-full;
  }

  .input::placeholder {
    @apply text-sm text-blue-gray-300;
  }

  /* buttons */
  .btn {
    @apply flex h-12 w-full items-center justify-center rounded-md px-5 py-3 text-sm font-black text-gray-900;

    box-shadow:
      0 2px 4px -2px rgba(0, 0, 0, 0.1),
      0 4px 6px -1px rgba(0, 0, 0, 0.1);
  }

  .btn--primary {
    @apply rounded-lg bg-purple-900 text-white;

    box-shadow:
      0 2px 4px -2px rgba(33, 33, 33, 0.2),
      0 4px 6px -1px rgba(33, 33, 33, 0.2);
  }

  .btn--with-icon {
    @apply gap-1;
  }

  .btn--with-icon > svg {
    @apply size-4;
  }
}
