@layer components {
  /* inputs */
  .input {
    @apply h-10 w-full rounded-lg border border-blue-gray-100 px-4 py-3;
  }

  .input--textarea {
    @apply h-36 resize-none;
  }

  .input--invalid {
    @apply border-red-700;
  }

  .input--inner-icon-right {
    @apply pr-10;
  }

  .input__inner-icon-right {
    @apply absolute bottom-1/2 right-3 h-5 w-5 translate-y-1/2;
  }

  .input__inner-icon-right > svg {
    @apply h-full w-full;
  }

  .input::placeholder {
    @apply text-sm text-blue-gray-300;
  }

  /* upload */
  .upload {
    @apply relative flex w-max cursor-pointer items-center gap-2 rounded-lg border border-solid border-blue-gray-900 px-4 py-2.5 text-xs font-bold uppercase text-blue-gray-900 hover:bg-blue-gray-900 hover:text-white;

    box-shadow:
      0px 4px 6px -1px rgba(38, 50, 56, 0.2),
      0px 2px 4px -2px rgba(38, 50, 56, 0.2);
  }

  .upload > svg {
    @apply h-4 w-4 fill-blue-gray-900;
  }

  .upload:hover > svg {
    @apply fill-white;
  }

  /* select */
  .select {
    @apply relative cursor-pointer select-none rounded-lg border border-solid border-blue-gray-500 p-3;
  }

  /* buttons */
  .btn {
    @apply flex h-12 w-full items-center justify-center rounded-md px-5 py-3 text-sm font-black text-gray-900 transition-colors;

    box-shadow:
      0 2px 4px -2px rgba(0, 0, 0, 0.1),
      0 4px 6px -1px rgba(0, 0, 0, 0.1);
  }

  .btn--primary {
    @apply rounded-lg bg-purple-800 text-white hover:bg-purple-900 focus:bg-gray-700;

    box-shadow:
      0 2px 4px -2px rgba(33, 33, 33, 0.2),
      0 4px 6px -1px rgba(33, 33, 33, 0.2);
  }

  .btn--success {
    @apply rounded-lg bg-green-500 text-white hover:bg-green-800 focus:bg-gray-700;

    box-shadow:
      0px 4px 6px -1px rgba(76, 175, 80, 0.2),
      0px 2px 4px -2px rgba(76, 175, 80, 0.2);
  }

  .btn--secondary {
    @apply rounded-lg bg-gray-700 text-white hover:bg-gray-800;

    box-shadow:
      0px 4px 6px -1px rgba(33, 33, 33, 0.2),
      0px 2px 4px -2px rgba(33, 33, 33, 0.2);
  }

  .btn--outline {
    @apply rounded-lg border border-solid border-gray-900 text-gray-900 hover:bg-gray-900 hover:text-white focus:border-gray-700 focus:text-gray-700;

    box-shadow:
      0px 4px 6px -1px rgba(38, 50, 56, 0.2),
      0px 2px 4px -2px rgba(38, 50, 56, 0.2);
  }

  .btn--outline:hover.btn--with-icon > svg {
    @apply fill-white;
  }

  .btn--outline:focus.btn--with-icon > svg {
    @apply fill-gray-700;
  }

  .btn--with-icon {
    @apply gap-2;
  }

  .btn--with-icon > svg {
    @apply size-4;
  }

  /* radio-group */
  .radio-group {
    @apply flex flex-col gap-3.5;
  }

  .radio-group__label {
    @apply flex items-center gap-2;
  }

  .radio-group__text {
    @apply text-xs font-medium text-blue-gray-400;
  }

  input[type='radio'].radio-group__input {
    @apply relative h-4.5 w-4.5 appearance-none rounded-full border border-solid border-blue-gray-100;
  }

  input[type='radio'].radio-group__input:checked {
    @apply border-blue-gray-100;
  }

  input[type='radio'].radio-group__input:checked::after {
    @apply absolute left-1/2 top-1/2 block h-2.5 w-2.5 -translate-x-1/2 -translate-y-1/2 rounded-full bg-blue-gray-900;
    content: '';
  }
}
